.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-margin {
  margin: 15px auto 15px;
}

.card-margin {
  width: 32rem;
  margin: 1.5rem auto 1rem;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: white;
  padding: 3% 15% 3%;
  margin: auto;
  width: 100%;
}

.header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 8px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #fff;
  font-weight: 200;
}

.header h3 {
  color: #fff;
  font-weight: 200;
}
